<div class="sp">	
	<div class="row"><%= link_to "< Back to Home", root_path %></div>
		<div class="row">
				<div class="col s12 m4">
				<div class="box z-depth-3">
				<div class="photo">
					<img src="http://67.media.tumblr.com/5568d4708189790287723a8f2d8619ae/tumblr_nakw2tsP861teue7jo1_1280.jpg">
				</div>
				</div>
			</div>
		
			<div class="col s12 m8">
				<div class="row">	
				<div class="box z-depth-3">
					<h5>Julia's Graduation Party</h5>
					<div class="divider"></div>
					
					<p>WHEN: <%= Time.at(Time.now + 5.days).strftime("%A, %e %B  %Y") %>  at 05:00PM</p>
					<p>WHERE: 23 Campus Way, Scholar Block, University Estate </p>
					<div class="row btn disabled">RSVP For This Event</div>
				</div>
				</div>


			<div class="row">
			<div class="box z-depth-3">
				<div class="event-info">
				<p> EVENT INFORMATION </p>
				<div class="divider"></div>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
</p>
				</div>
			</div>
			</div>
			</div>
</div>